<div style="height: 200px; background-color: #85C1E9;">
    <div class="row" style="padding: 50px;">
        <div class="col-sm-4">
            <div class="app-name">Demo App</div>
        </div>
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
            <nav class="navbar navbar-expand-sm">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">CLIENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">JOBS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">CONTACT US</a>
                    </li>
                </ul>
            
            </nav>
        </div>
    </div>
</div>

<div class="row" style="height: 500px;">
    <div class="col-sm-3" style="padding-top: 50px;">
        <div >
            <p style="color: #85C1E9; font-size: 20px; margin:auto; width: fit-content;">Profile</p>
            <div style="width: fit-content; margin:auto;">
                <img style="width:240px; height: 200px; background-color: gray;" src="../../assets/images/profile-icon.png">
            </div>
            
            <div style="width: 240px; margin:auto;">
                <button type="button" class="btn btn-primary" style="float: left;">Edit Photo</button>
                <button type="button" class="btn btn-primary" style="float: right;">Edit Profile</button>
            </div>
        </div>
              
    </div>
    <div class="col-sm-7">
        <p style="padding-top: 50px;">I am {{user.firstName}} {{user.lastName}} and I am above {{user.age}} yeras and you can send your emails to {{user.email}}. I live in the state of {{user.state}}. I like to play {{user.country}}.
            <span *ngIf="user.subscribeToNewsletter">And please send me newsletters.</span> Please reach out to me on my phone number.
        </p>
        <button type="button" class="btn btn-primary">I Agree</button>
    </div>
</div>

<div style="height: 300px; background-color:#1C2833; color:white;">
    <div style="width: fit-content; margin:auto; font-size: 18px; padding-top: 100px;">Subscribe to our Job Seeker Mailing List</div>
    <div style="width: 322px; margin: auto; margin-top: 20px;">
        <input style="background: transparent; border-color: #3498DB;" type="text" class="form-control" id="email" name="email" placeholder="Enter your email address">
    </div>
</div>
